.edit-ticket {
  background-color: #f1f5fc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .wrapper {
    width: 35%;
    padding: 15px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 22px rgba($color: #000000, $alpha: 0.2);
    overflow: auto;
  }
}
