@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base/color.scss";
@import "./base/typography.scss";
@import "./base/global.scss";
@import "./base/include-media.scss";
@import "./component/layout/mainContent/mainContent.scss";
@import "./Pages/LoginPage/login.scss";
@import "./Pages/Dashboard/stock.scss";
@import "./Pages/Dashboard/dashboard.scss";
@import "./Pages/Stock/Add/addStock.scss";
@import "./Pages/Request/request.scss";
@import "./component/layout/Sidebar/Sidebar.scss";
@import "./component/layout/Header/Header.scss";
@import "./component/layout/footer/footer.scss";

.common-button {
  background: #0b6efd;
  border-radius: 999px;
  box-shadow: #0b6efd 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 13px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.common-button-square {
  background: #0b6efd;
  border-radius: 6px;
  box-shadow: #0b6efd 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 0px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 6px 7px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
