.analytics {
  background-color: #f1f5fc;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  .title-bar {
    background-color: #fff;
    padding: 10px 15px;
    margin-bottom: 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 8px;
  }

  .chart-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .recharts-wrapper {
    margin: 0 auto;
  }
}
